<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style type="text/css">
            #juzhong{margin: 0 auto}
            body{text-align: center}
        </style>
        <script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <div id="juzhong">{{data|safe}}
            <a href="http://127.0.0.1:5000">返回</a>
        </div>
        <script>
            var haha=document.getElementById("juzhong").innerHTML
        </script>
    </body>
</html>